* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFFFFF;
}

/* main */


/* navbar */

.container {
    display: inline-flex;
}


.navbar-container {
    display: flex;
    justify-content: space-between;
    margin: 40px 40px;
}



.list {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-right: 720px;
}

/* left-section */






/* button */
.button1 {
    background-color: #2A4DD0;
    color: white;
    border: none;
    border-radius: 7%;
    padding: 20px;
}

.button2 {
    border: none;
    text-decoration:underline #2A4DD0 2px;
}

/* right-section */
img {
    width: 520px;
    max-width: 100%;
    float: right;
}

.light-container {
   display: inline-flex;
   flex-direction: row;
    justify-content: center;
    border: 4px solid black;
    /* border-radius: 50px; */
}


/* media screen and (min-width: 720px) */







/*  */