* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFFFFF;
    font-family: Poppins;
}

/* main */


/* navbar */

.container {
    display: inline-flex;
    
}

.container li {
    display: flex;
    align-self: center;
    justify-content: center;
    margin: 4px 0px 20px 20px;
}


.navbar-container {
    display: flex;
    justify-content: space-between;
    margin: 40px 40px;
}



.list {
    list-style: none;
    display: flex;
    align-self: center;
    justify-content: center;
    margin-right: 720px;
}

/* toggle-light-dark */
.theme-light {
    --color-primary: #0060df;
    --color-secondary: #fbfbfe;
    --color-accent: #fd6f53;
    --font-color: #000000;
  }

  .theme-dark {
  --color-primary: #17ed90;
  --color-secondary: #2a2c2d;
  --color-accent: #12cdea;
  --font-color: #ffffff;
}

.light-toggle {
    display: flex;
    height: 100%;
    background: var(--color-secondary);
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;

}

.slider:before {
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    left: 0px;
    bottom: 4px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    box-shadow: 0 0px 15px #2020203d;
    background: white url('https://i.ibb.co/FxzBYR9/night.png');
    background-repeat: no-repeat;
    background-position: center;
  }


input:checked + .slider {
    background-color: #2196f3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
    background: white url('https://i.ibb.co/7JfqXxB/sunny.png');
    background: s;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
   

/* left-section */


.left {
    margin-left:50px;
}


.section1 {
    display: flex;
    font-size: 40px;
    margin-right: 20px;
    max-width: 120px;
    margin-top: 20px;
    word-spacing: 20px;
}

.span {
  /* display: flex; */
  width: 430px;
  
}











/* button */
.button {
    margin: 240px 0px 0px 50px;
    
    
}


.button1 {
     background-color: #2A4DD0;
     color: white;
     width: 130px;
     height: 40px;
     border-radius: 5px;
     border: none;
     font-family: 'Lato', sans-serif;
     font-weight: 500;
     cursor: pointer;
     position: relative;
     display: inline-block;
  }

.button2 {
    border: none;
    text-decoration:underline #2A4DD0 2px;
    margin-left: 20px;
}


/* footer */
.footer-section {
    display: inline-flex;
    margin: 70px 0px 0px 50px;
    
}

    .svg, .svg1 {
        position: relative;
        top: 0.35em;
    }

.credit2 {
    margin-left: 30px;
}




/* right-section */




.light-container {
   display: inline-flex;
   flex-direction: row;
    justify-content: center;
    border: 4px solid black;
    /* border-radius: 50px; */
}


/* media screen and (min-width: 720px) */







/*  */